<footer th:fragment="footer" class="footer bg-darker pt-5" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container pt-2">
    <div class="row pb-2">
      <div class="col-lg-2 col-sm-4 pb-2 mb-4">
        <div class="mt-n1"><a class="d-inline-block align-middle" href="#"><img class="d-block mb-4" src="img/footer-logo-light.png" width="117" alt="Cartzilla"></a></div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Join us</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="#">Karriere</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Restauranten</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Kurier werden</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Über uns</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Hilfe</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="#">Hilfe-Center</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Support</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Kontakte</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Follow us</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="#">Facebook</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Twitter</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="hr-light mt-md-2 mb-3">
    <div class="d-md-flex justify-content-between pt-4 pb-1">
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© 2021 Copyright : <a class="text-light" href="index.html" target="_blank" rel="noopener">Guten Appetit</a></div>
      <div class="widget widget-links widget-light pb-4">
        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
          <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Datenschutz</a></li>
          <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">geschäftsbedingungen</a></li>
          <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Cookies-Richtlinie</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>