<header th:fragment="header" class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <a class="navbar-brand d-none d-sm-block me-4 order-lg-1" href="/"><img src="img/logo-dark.png" width="150" alt="Guten Appetit"></a><a class="navbar-brand d-sm-none me-2 order-lg-1" href="/"><img src="img/logo-icon.png" width="74" alt="Guten Appetit"></a>
    <div class="navbar-toolbar d-flex align-items-center order-lg-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
      <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div></a><a class="navbar-tool ms-2" href="#signin-modal" data-bs-toggle="modal"><span class="navbar-tool-tooltip">Account</span>
      <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div></a>
      <div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="cart.html"><span class="navbar-tool-label">3</span><i class="navbar-tool-icon ci-cart"></i></a>
        <!-- Cart dropdown-->
        <div class="dropdown-menu dropdown-menu-end">
          <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
            <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
              <div class="widget-cart-item pb-2 border-bottom">
                <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex align-items-center"><a class="d-block" href="#"><img src="img/food-delivery/cart/th01.jpg" width="64" alt="Pizza"></a>
                  <div class="ps-2">
                    <h6 class="widget-product-title"><a href="#">Pizza Pepperoni with Tomatoes</a></h6>
                    <div class="widget-product-meta"><span class="text-accent me-2">$9.<small>00</small></span><span class="text-muted">x 1</span></div>
                  </div>
                </div>
              </div>
              <div class="widget-cart-item py-2 border-bottom">
                <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex align-items-center"><a class="d-block" href="#"><img src="img/food-delivery/cart/th02.jpg" width="64" alt="Burger"></a>
                  <div class="ps-2">
                    <h6 class="widget-product-title"><a href="#">Beef Burger with Fries</a></h6>
                    <div class="widget-product-meta"><span class="text-accent me-2">$12.<small>00</small></span><span class="text-muted">x 1</span></div>
                  </div>
                </div>
              </div>
              <div class="widget-cart-item py-2 border-bottom">
                <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                <div class="d-flex align-items-center"><a class="d-block" href="#"><img src="img/food-delivery/cart/th03.jpg" width="64" alt="Drink"></a>
                  <div class="ps-2">
                    <h6 class="widget-product-title"><a href="#">Coca Cola Can, 335ml</a></h6>
                    <div class="widget-product-meta"><span class="text-accent me-2">$1.<small>00</small></span><span class="text-muted">x 3</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
              <div class="fs-sm me-2 py-2"><span class="text-muted">Total:</span><span class="text-accent fs-base ms-1">$24.<small>00</small></span></div><a class="btn btn-outline-secondary btn-sm" href="cart.html">Expand cart<i class="ci-arrow-right ms-1 me-n1"></i></a>
            </div><a class="btn btn-primary btn-sm d-block w-100" href="checkout.html"><i class="ci-card me-2 fs-base align-middle"></i>Checkout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
      <!-- Search (mobile)-->
      <div class="d-lg-none py-3">
        <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
          <input class="form-control rounded-start" type="text" placeholder="What do you need?">
        </div>
      </div>
      <!-- Location dropdown-->
      <ul class="navbar-nav navbar-mega-nav ms-lg-4 pe-lg-2 me-lg-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-location me-2"></i>Restauranten</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/shamShawarma">SHAM BISTRO</a></li>
            <li><a class="dropdown-item" href="/ademShawarma">PIZZERIA ADEM</a></li>
            <li><a class="dropdown-item" href="#">SINDBAD</a></li>
            <li><a class="dropdown-item" href="#">TIBA</a></li>
          </ul>
        </li>
      </ul>
      <!-- Primary menu-->
      <ul class="navbar-nav">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">kategorien</a>
          <div class="dropdown-menu px-2 ps-0 pb-4">
            <div class="d-flex">
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html">
                  <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/shawarma.png" width="70" alt="Shawarma &amp; Döner">
                  <h6 class="fs-base text-center">Shawarma &amp; Döner</h6></a>
                </div>
              </div>
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/pizza.png" width="80" alt="Pizza &amp; Manakish">
                  <h6 class="fs-base text-center">Pizza &amp; Manakish</h6></a></div>
              </div>
            </div>
            <div class="d-flex">
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/Grill.png" width="100" alt="Grill">
                  <h6 class="fs-base text-center">Grill</h6></a></div>
              </div>
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/pasta.png" width="70" alt="Noodel">
                  <h6 class="fs-base text-center">Nudel</h6></a></div>
              </div>
            </div>
            <div class="d-flex">
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/salat.png" width="60"  alt="Salat">
                  <h6 class="fs-base text-center">Salat</h6></a></div>
              </div>
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/vegetarisch.png" width="55" alt="Vegetarisch">
                  <h6 class="fs-base text-center">Vegetarisch</h6></a></div>
              </div>
            </div>
            <div class="d-flex">
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/drink.png" width="40"  alt="drink">
                  <h6 class="fs-base text-center">Getränke</h6></a></div>
              </div>
              <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3"><a class="d-block" href="category.html"><img class="d-block mx-auto mb-3" src="img/food-delivery/icons/burger.png" width="70" alt="burger">
                  <h6 class="fs-base text-center">International</h6></a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Search collapse-->
  <div class="search-box collapse" id="searchBox">
    <div class="container py-2">
      <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
        <input class="form-control rounded-start" type="text" placeholder="Was brauchen Sie?">
      </div>
    </div>
  </div>
</header>