<th:block th:fragment="javascript">
  <!-- Vendor scrits: js libraries and plugins-->
  <script type="text/javascript" th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/tiny-slider/dist/min/tiny-slider.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
  <!-- Main theme script-->
  <script type="text/javascript" th:src="@{/js/theme.js}"></script>
</th:block>